.auto-complete-card{
    background-color: rgb(238, 238, 238);
    width: 50%;
    margin: 0px;
    

    .card{
        padding: 0px 15px;
        display: flex;
        justify-content: start; 
        align-items: center;
        border-bottom: 1px solid black ;

        img{
            height: 2em;
            width: 3em;
            margin-right: 10px;
        }

        h4{
            margin-right: 5px;
        }
    }
}